body{
  background-color: rgb(65, 76, 97);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: calc(10px + (24 - 10) * ((100vw - 300px) / (1600 - 300)));
}
h1{
  font-size: 2.2em;
  color: white;
}
h2{
  color: white;
}
#inputHTML, button{
  font-size: 1em;
  border-radius: 6px;
  outline: none;
}
.completed{
  text-decoration: line-through;
}
.toDoList{ 
  padding:  1em 10em 0em 10em;
  list-style: none;
  color: white;
}
li{
  line-height: 1.8em;
  font-size: 1.5em;
}
li:nth-child(odd){
  background-color: rgb(97, 116, 150);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}
.trashcan{
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.trashcan:hover{
  color: red;
}
.author{
  position: fixed;
  bottom: 5px;
  color: rgb(97, 116, 150);
  font-family: monospace;
  font-size: 0.6em;
}