/*Tooltip container*/
.tooltip {
  position: relative;
  display: inline-block;
}

/*Tooltip text*/
.tooltiptext {
  line-height: 1.6em;
  font-size: 0.5em;
  visibility: hidden;
  width: 16em;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 1px 0px 0px 0px;
  border-radius: 6px;
  /*Position tooltip*/
  position: absolute;
  bottom: 80%;
  left: 50%;
  margin-left: -7em;
  /*Fade in*/
  opacity: 0;
  transition: opacity 0.3s 0.6s;
}

/*Tooltip arrow*/
.tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 6px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/*Show tooltiptext*/
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}

/*Tooltip text Clear button*/
.tooltiptextclear {
  line-height: 1.6em;
  font-size: 1em;
  visibility: hidden;
  width: 6em;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 1px 0px 0px 0px;
  border-radius: 6px;
  /*Position tooltip*/
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -3em;
  /*Fade in*/
  opacity: 0;
  transition: opacity 0.1s;
}

/*Show tooltiptextclear*/
.tooltip:hover .tooltiptextclear{
  visibility: visible;
  opacity: 1;
}